$clr-blue: rgb(86, 36, 208);
$clr-blue-light: #686de0;
$clr-blue-lit: #95afc0;
$clr-blue2: #30336b;
$clr-blue-dark: #130f40;

$gradient-blue: linear-gradient(to right, #9550d6, #7f53ac);
$clr-pink: #a6026a;

$clr-primary: #333;
$clr-span: #666666;
$clr-grey: #928c8c;
$clr-border: #fafafa;
$clr-white: #fff;
$clr-black: #222;
$clr-bg: #f8f8f8;
$transition: all 0.5s linear;
$spacing: 1.6px;
$border-radius: 12px;
$line-height: 1.58;
$font-size: 18px;
$light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
$dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
$max-width: 1140px;
$fixed-width: 620px;
$gutter-horizontal: 0.15rem;
$gutter-vertical: 0.5rem;
